.property-container{
    height: 100%;
    min-height :500px;
}

.data-container {
    display: table;
    text-align: center;
    width:  100%
}

.data-container-i {
    display: table-cell;
}

.date-container{
    margin-top: 1%;
    text-align: center;
}