<div class ="property-container">
<div *ngIf = "property_type == 'LOCATION'" class = "maps">
 <web-google-maps [apiKey]="key" [lat]="lat" [lng]="lat" [markers] ="markers"></web-google-maps>
</div>
<div *ngIf = "property_type == 'ACCELEROMETER'" class = "maps">
        TODO ACCELEROMETER : radar
</div>
<div *ngIf = "property_type == 'GYROSCOPE'" class = "maps">
        TODO GYROSCOPE
</div>
<div *ngIf = "property_type == 'BINARY'" class = "maps">
        TODO BINARY
</div>
<div *ngIf = "property_type == 'MAGNETIC_FIELD'" class = "maps">
        TODO MAGNETIC_FIELD
</div>
<div *ngIf = "property_type == 'GRAVITY'" class = "maps">
        TODO  GRAVITY
</div>
<div *ngIf = "property_type == 'ROTATION_VECTOR'" class = "maps">
        TODO  ROTATION_VECTOR
</div>
<div *ngIf = "property_type == 'LIGHT'" class = "maps">
        TODO  LIGHT
</div>
<div *ngIf = "property_type == 'ALTITUDE'" class = "maps">
        TODO  ALTITUDE
</div>
<div *ngIf = "property_type == 'BEARING'" class = "maps">
        TODO  BEARING
</div>
<div *ngIf = "property_type == 'SPEED'" class = "maps">
        TODO  SPEED
</div>
<div *ngIf = "property_type == 'PRESSURE'" class = "maps">
        TODO  PRESSURE
</div>
<div *ngIf = "property_type == 'PROXIMITY'" class = "maps">
        TODO  PROXIMITY
</div>
<div *ngIf = "property_type == 'RELATIVE_HUMIDITY'" class = "maps">
        TODO  RELATIVE_HUMIDITY
</div>
<div *ngIf = "property_type == 'COUNT'" class = "maps">
        TODO  COUNT
</div>
<div *ngIf = "property_type == 'FORCE'" class = "maps">
        TODO  FORCE
</div>
<div *ngIf = "property_type == 'TEMPERATURE'" class = "maps">
        TODO  TEMPERATURE
</div>
<div *ngIf = "property_type == 'STATE'" class = "maps">
        TODO  STATE
</div>
<div *ngIf = "property_type == 'CLASS'" class = "maps">
        TODO  CLASS
</div>
<div *ngIf = "property_type == 'VIDEO'" class = "maps">
        TODO  VIDEO
</div>
<div *ngIf = "property_type == 'HEART_RATE'" class = "maps">
        TODO  HEART_RATE
</div>
<div *ngIf = "property_type == 'ONE_DIMENSION'" class = "maps">
        TODO  ONE_DIMENSION
</div>
<div *ngIf = "property_type == 'TWO_DIMENSIONS'" class = "maps">
        TODO  TWO_DIMENSIONS
</div>
<div *ngIf = "property_type == 'THREE_DIMENSIONS'" class = "maps">
        TODO  THREE_DIMENSIONS
</div>
<div *ngIf = "property_type == 'FOUR_DIMENSIONS'" class = "maps">
        TODO  FOUR_DIMENSIONS
</div>
<div *ngIf = "property_type == 'FIVE_DIMENSIONS'" class = "maps">
        TODO  FIVE_DIMENSIONS
</div>
<div *ngIf = "property_type == 'SIX_DIMENSIONS'" class = "maps">
        TODO  SIX_DIMENSIONS
</div>
<div *ngIf = "property_type == 'NINE_DIMENSIONS'" class = "maps">
        TODO  NINE_DIMENSIONS
</div>
<div *ngIf = "property_type == 'TEN_DIMENSIONS'" class = "maps">
        TODO  TEN_DIMENSION
</div>
<div *ngIf = "property_type == 'ELEVEN_DIMENSIONS'" class = "maps">
        TODO  ELEVEN_DIMENSIONS
</div>
<div *ngIf = "property_type == 'TWELVE_DIMENSIONS'" class = "maps">
        TODO  TWELVE_DIMENSIONS
</div>

</div>