<div class ="property-container">

        <div class = "calendar-container">
                <p-calendar *ngIf = !checked [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" (onSelect)="getValues(rangeDates)"></p-calendar>
                <mat-slide-toggle style ="float: right"
                        [checked]="checked"
                        (change)="toggle($event)"
                        color = "primary"
                        >
                         {{mode}}
                </mat-slide-toggle>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'MAPS'">
                <lib-google-maps 
                        [property_values] = "values"
                        [property_dimensions] ="ChildProperty.dimensions" 
                        [property_entity_id] ="ChildProperty.entity_id"  
                        [apiKey]="apiKey" 
                        [checked]="checked">
                </lib-google-maps>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'RADAR'">
                <lib-radar-chart 
                        [property_values] = "values"
                        [property_dimensions] = "ChildProperty.dimensions" 
                        [property_type] = "ChildProperty.type"
                        >
                </lib-radar-chart>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'DOUBLE'">
                <lib-double-dimensions-chart 
                        [property_values] = "values"
                        [property_dimensions] ="ChildProperty.dimensions"
                        >
                </lib-double-dimensions-chart>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'LINE'">
                <lib-line-chart 
                        [property_dimensions] ="ChildProperty.dimensions"
                        [property_values] = "values">
                </lib-line-chart>
        </div>
        
</div>