.all{
    position:fixed;
    left: 50%;
    width:30em;
    margin-top: 3%;
    margin-left: -16em; /*set to a negative number 1/2 of your width*/
}
.title{
    text-align: center;
}
.logo_div{
    margin-top : 2%;
    height: 100%
}

.img{
    display: block;
    width: 50%;
    min-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: 100%
}

.button_div{
    text-align: center;
}