<p-toolbar  [style]="{'background':'#2684b7', 'height': '10%', 'min-height' : '130px', width: '100%'}">

  <div class="ui-toolbar-group-left" style="color:white; margin-top :1%"> 
   <h1>DCD Subject Portal</h1>
  </div>
</p-toolbar>
<div class ="all">
<div class ="logo_div">
<img  class = "img" src="../../assets/logo.ico/dcd-logo-01.png">
</div>
<div class ="button_div">
<button pButton type="button" label="Connection"  icon ="fa fa-sign-in" class="ui-button-success" (click)="connect()"></button>
</div>
</div>