.thing-container{
    display: inline-table;
    width: 100%;
}
.thing-card{
    display: table-row;
    min-width:600px;
    min-height :200px;
    width: 46%;
    float:left;
    margin-left: 2%
}

table {
    width: 100%;
  }

.thing_buttons{
    text-align: right;
}

.thing_table{
height: 246px;
  overflow: auto;
}

.property_description{
  float: left;
}

.thing_header{
  display : table;
  width:  100%
}
.thing_title {
  display: table-cell;
}
.thing_nav {
  display: table-cell;
  float: right;
}
