.thing-container{
    display: inline-table;
    width: 100%;
}
.thing-card{
    display: table-row;
    min-width:500px;
    min-height :200px;
    width: 46%;
    float:left;
    margin-left: 2%
}

table {
    width: 100%;
  }