    <div style ="width: 100%"></div>
    <div class = "thing-container">
            <div class = thing-card *ngFor="let thing of things">
                    <div  class="card card-chart">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">{{thing.thing_name}}</h4>
                            </div>
                            <div class="card-body">
                                <div>Property list</div>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">Description</i> {{descriptionT(thing)}}
                                </div>
                            </div>
                    </div>
            </div>
    </div>
