<div class="notifications-container">
  <div  class="card card-stats">
    <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
                <i class="fas fa-bell"></i>
        </div>
        <h3 class="card-title">Notifications</h3>
        <div class="card-body">
                <table class="table table-striped">
                        <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope ="col">Task name</th>
                          <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let notification of notifications" >
                                        <td>{{notification.task.getDate()}}</td>
                                        <td>{{notification.task.name}}</td>
                                        <td>{{notification.status}}</td>
                                        <th scope="row">
                                                <button style="float: right" pButton type="button" (click)="showDialog_Notification(notification)" icon="pi pi-th-large"></button>
                                        </th>
                                </tr>
                        </tbody>
                </table>
        </div>
    </div>

<p-dialog [(header)]="notification_picked.task.name" [(visible)]="display_notification" [modal]="true" [responsive]="true" [style]="{width: '60%', minWidth: '700px'}" 
    [maximizable]="true" [baseZIndex]="10000">
    <div>
    Notification body (Steps with a time line)
    </div>
    <p-footer>
       Notification footer
    </p-footer>
</p-dialog>
