<div class="notifications-container">
  <div  class="card card-stats">
    <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
                <i class="fas fa-bell"></i>
        </div>
        <h3 class="card-title">Notifications</h3>
        <div class="card-body">
                <table class="table table-striped">
                        <thead>
                        <tr>
                          <th scope="col">Date</th>
                          <th scope ="col">Name</th>
                          <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let notifications of notifications" >
                                        <td>{{notification.date}}</td>
                                        <td>{{notifications.name}}</td>
                                        <td>
                                            {{notifications.status}}
                                        </td>
                                        <th scope="row">
                                                <button style="float: right" pButton type="button" (click)="display_notification = true" icon="pi pi-th-large"></button>
                                        </th>
                                </tr>
                        </tbody>
                </table>
        </div>
    </div>
